apiVersion: 1

datasources:
  - name: InfluxDB-NetGuard
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    jsonData:
      version: Flux
      organization: netguard
      defaultBucket: network_stats
    secureJsonData:
      token: "REDACTED_SET_AT_RESTORE"
